.masinfo-container{
    border: 2px solid maroon;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
    width: 35%;
    font-size: 20px;
    border-radius: 2%;

}

.hola{
    border: 2px solid yellow;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 20%;
    
}
