.product-table-container{
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 470px;
    border: 1px solid green;
    border-radius: 2%;
    margin-top: 10px;
    color:blanchedalmond;
        
    
}

.products-form{
    background-color:darkseagreen;
    width: 40%;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 500px;   
    
}

.form-two{

    background-color:coral;
    width: 25%;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 50px;
    float: left;
    
}

.genero{
    color:whitesmoke;
    border: 2px solid turquoise;
    font-weight: bold;
    font-size: 90px;
    margin-left: 5px;
    width: 45%;
    margin-bottom: 30px;
    border-radius: 20px;
}

.prueba{
    background-color:lightsalmon;
    border: 2px solid pink;
    width: 45%;
    margin-left: 400px;
    margin-right: 20px;
    float: right;
}

.ciudad{
    background-color:darkkhaki;
    border: 2px solid greenyellow;
    width: 45%;
    margin-left: 400px;
    margin-right: 20px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
}